.empty {
  margin-left: 170px;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.empty h1 {
  color: #56B1A0;
}

@media screen and (max-width: 768px) {
  .empty h1 {
    font-size: 1.5rem;
  }
}