@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
